/* #container {
    position: relative;
}

.map-container {
    width: 100%;
    height: 100%;
}

#container canvas, #overlay {
    position: absolute;
}



.sidebar {
    height: 100%;
    border: 1px solid red;
}
 */
 /* #wrapper {
    min-height: 700px;
    width: auto;
   } */

 canvas {
    height: 700px;
    width: 75%;
    position: fixed;
 }

 div {
     transition: width .2s, height .1s;
 }
  
  body {
      height: 100%;
      width: 100%;
      background-color: #e9ba698f;
      margin: 0;
      padding: 0;
      
  }

  #footer {
    position : fixed;
    bottom : 0;
    height : 40px;
    width: 100%;
    background-color: red;
  }
  #footer p {
      margin: 10px;
  }

  .column.left {
    min-height: 700px;
    width: 25%;
    position: relative;
    float: left;
    background-color:#5e3b3b;
  }

  .column.left.small {
    width: 5%;
    min-height: 200px;
    height: 300px;
  }

  .column.right {
    min-height: 700px;
    width: 25%;
    position: relative;
    float: right;
    background-color:green;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .toggle-child {
      padding: 10px;
  }

  .hidden {
    display: none;
  }