/* base elements */

  canvas {
    position: fixed;
  }

  div {
    transition: width .2s, height .1s;
  }

  li {
    list-style: none;
  }

  body {
      height: 100%;
      width: 100%;
      background-color: #ffe8bd;
      margin: 0;
      padding: 0;      
  }

  .hidden {
    display: none;
  }

/* Menus */

.column {
  display: block;
  bottom: 0;
  height: 100%;
  width: 360px;
  position: fixed;
  overflow: scroll;
}

#left {
  background-color:#5e3b3b;
}

#right {
  right: 0;
  background-color: #544343;
}

.smol {
  width: 60px;
  min-height: 300px;
  height: auto;
  bottom: auto;
  padding-bottom: 20px;
}

.row:after {     /* Clears floats after the columns */
  content: "";
  display: table;
  clear: both;
} 

.fullsize {
    padding: 10px;
}

/*toolbar*/
.color {
  display: inline block;
  width: 22.5px;
  height: 22.5px;
}

.dropdown-content {
  width: 50px;
  margin: auto;
}

.eraser {
  display: flex;
  margin: auto;
}

#small {
  width: 20px;
  height: 10px;
}

#medium {
  width: 30px;
  height: 15px;
}

#large {
  width: 40px;
  height: 20px;
}

.first-level {
  width: 50px;
  height: 50px;
  margin: 2.5px auto;
  display: flex;
}

.first-level p {
  padding: auto;
  margin: auto;
  font-size: 10px;

}

/* buttons */

/*Resources*/

.resources {
  margin-left: 20px;
}

.status-button {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: purple;
}

/*Projects*/

.weeks {
  margin-left: 30px;
}

/*rulebook*/

#rulebook {
  margin-left: 20px;
  margin-bottom: 0px;
}

.page {
  margin: 0px 0px 5px 0px;
}

h5 {
  /* padding: 0px; */
  margin: 0px 0px 5px 0px;
  font-size: 17px;
}


/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fffbe9;
  color: #8b939c;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}